.set-margin {
    margin: 16px!important
}

.set-margin-4 {
    margin: 4px!important
}

.set-margin-top {
    margin-top: 16px!important
}

.set-margin-top-lg {
    margin-top: 40px!important
}

.set-margin-top-sm {
    margin-top: 4px!important
}

.set-margin-bottom {
    margin-bottom: 16px!important
}

.set-margin-left {
    margin-left: 16px!important
}

.set-margin-left-x2 {
    margin-left: 32px!important
}

.set-margin-right {
    margin-right: 16px!important
}

.set-padding-small {
    padding: 4px 8px!important
}

.set-padding-smaller {
    padding: 2px 4px!important
}

.set-padding {
    padding: 8px 16px!important
}

.set-padding-large {
    padding: 12px 24px!important
}

.set-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.set-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}

.set-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.set-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}

.set-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.set-text-tiny {
    font-size: 10px!important
}

.set-text-small {
    font-size: 12px!important
}

.set-text-medium {
    font-size: 15px!important
}

.set-text-large {
    font-size: 18px!important
}

.set-text-xlarge {
    font-size: 24px!important
}

.set-text-xxlarge {
    font-size: 36px!important
}

.set-text-xxxlarge {
    font-size: 48px!important
}

.set-text-jumbo {
    font-size: 64px!important
}

.text-red,
.hover-text-red:hover {
    color: #f44336!important
}

.red-compliment {
    background-color: rgba(54, 244, 104, 0.5);
}

.red,
.hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important
}

.text-yellow,
.hover-text-yellow:hover {
    color: #d2be0e!important
}

.yellow,
.hover-yellow:hover {
    color: #000!important;
    background-color: #ffeb3b!important
}

.pale-red,
.hover-pale-red:hover {
    color: #000!important;
    background-color: #ffdddd!important
}

.pale-green,
.hover-pale-green:hover {
    color: #000!important;
    background-color: #ddffdd!important
}

.pale-yellow,
.hover-pale-yellow:hover {
    color: #000!important;
    background-color: #ffffcc!important
}

.pale-blue,
.hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important
}

.color-grenadine {
    color: #fff;
    background-color: #DC4C46
}

.color-primrose-yellow {
    color: #000;
    background-color: #f6d155
}

.color-flame {
    color: #fff;
    background-color: #f2552c
}

.palette-red-bkg {
    background-color: rgba(198, 42, 40, 1);
}

.palette-red-txt {
    color: rgba(198, 42, 40, 1);
}

.palette-blue-bkg {
    background-color: rgba(77, 157, 224, 1);
}

.palette-blue-txt {
    color: rgba(77, 157, 224, 1);
}

.palette-yellow-bkg {
    background-color: rgba(225, 188, 41, 1);
}

.palette-yellow-txt {
    color: rgba(225, 188, 41, 1);
}

.palette-green-bkg {
    background-color: rgba(59, 178, 115, 1);
}

.palette-green-txt {
    color: rgba(59, 178, 115, 1);
}

.palette-violet-bkg {
    background-color: rgba(119, 104, 174, 1);
}

.palette-violet-txt {
    color: rgba(119, 104, 174, 1);
}

.gen-box-shadow {
    /*    box-shadow: 10px 10px 5px black;*/
    /*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.4);
}

.progress {
    background-color: #aaa;
    -webkit-box-shadow: none;
    box-shadow: none;
}
